<nav>


  <ul class="nav">


    <li><a class="navbar-brand" (click)="goHome()">Home</a>

    <li><a class="navbar-brand" (click)="goAboutus()">AboutUs</a>

      <ul>

        <li><a class="navbar-brand" (click)="goSchool()">School</a></li>
        <li><a class="navbar-brand" (click)="goPrincipal()">Principal</a></li>
        <li><a class="navbar-brand" (click)="goStaff()">Staff</a></li>

      </ul>

    </li>

    <li><a class="navbar-brand" (click)="goActivities()">Activities</a>

      <ul>
        <li><a class="navbar-brand" (click)="goOutdoor()">outdoor</a>

          <ul>
            <li><a class="navbar-brand" (click)="goWaterPlay()">Water Play</a></li>
            <li><a class="navbar-brand" (click)="goPicnic()">Picnics</a></li>
          </ul>

        </li>


        <li><a class="navbar-brand" (click)="goMusic()">indoor</a>


          <ul>
              <!--<li><a class="navbar-brand" (click)="goStoryTelling()">Story Telling</a></li>-->
            <li><a class="navbar-brand" (click)="goShows()">Stage Shows</a></li>
            <li><a class="navbar-brand" (click)="goMusic()">Music and Dance</a></li>
          </ul>

        </li>

        <li><a class="navbar-brand" (click)="goCelebrations()">Functions </a></li>
        <li><a class="navbar-brand" (click)="goEvents()">Events</a></li>
      </ul>
    </li>


    <!--<li><a class="navbar-brand" (click)="goAnnouncements()">Announcements</a></li>-->



    <!--<li><a class="navbar-brand" (click)="goAdmissions()">Admissions</a></li>-->


    <li><a class="navbar-brand" (click)="goLatestEvents()">Gallery</a>
     <ul>
      <li><a class="navbar-brand" (click)="goActivitiespics()">Activities</a></li>
        <li><a class="navbar-brand" (click)="goGeneralpics()">General</a></li>
        <li><a class="navbar-brand" (click)="goLatestevents()">Latest Event</a></li>
      </ul>
    </li>

    <li><a class="navbar-brand" (click)="goContact()">Contact</a></li>


  </ul>


</nav>


<!--<router-outlet></router-outlet>-->

