.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}
.well {
  /*box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .6);*/

  /*border-radius: 15px;*/
}
