




<div style="background-image:url('../../assets/images/slider1.JPG'); height:890px;
background-position: center; background-repeat: no-repeat; background-size: cover; margin-top: 0px; ">



  <article>
    <h1>GOOD START FOR YOUR CHILD</h1>
    <p class="subtitle fancy"><span style="font-size: small ; color: #2b542c">Our vision is every child known, safe, inspired, challenged, empowered.</span></p>
    <div class="copy">
    </div>
  </article>

</div>

<!--<app-slider2></app-slider2>-->

<div id="fh5co-common-section">
  <div class="container">
    <div class="heading-section text-center">
      <div class="about">Who we are</div>
    </div>
    <div class="row ">

      <div class="col-md-12 " style="color: #FFFFFF" >

        <div class="col-md-4 col-sm-6" style="height: 200px">
          <h3 style="background: #9bba1f">The School</h3>
          <p style="background: #9bba1f">
            <!--<img src="../../../src%20-%20Copy/assets/images/AKS_2732.JPG" >-->
            Srijan the Gurukul, is a primary school run by late C.M.Bahukhandi Shikshan Samiti. The purpose of Samiti behind starting the school was to impart a quality primary education to the toddlers.</p>
        </div>

        <div class="col-md-4 col-sm-6 services-num " style=" text-align: justify ">
          <h3 style="background: #FFA200">The Principal.</h3>
          <p style="background: #FFA200">
            <!--<img src="../../../src%20-%20Copy/assets/images/2.a.jpg" >-->
            Dr. L.P.Pokhriyal began his carrier in 1968. His work experience of over 35 years where he understood both teaching as well as administration responsibity has made him carve a niche for himself in the field of education.</p>
        </div>

        <div class="col-md-4 col-sm-6 services-num " style=" text-align: justify " >
          <h3 style="background: #CA3535">The Staff</h3>
          <p style="background: #CA3535">
            <!--<img src="../../../src%20-%20Copy/assets/images/AKS_2732.JPG" >-->
            A Quality preschool program depends on great teachers. At Srijan we are proud to have a team of highly qualified teachers that are degreed, certified and experienced in early childhood education </p>
          <div class="MBT-readmore" style="text-align: right;"><a>Read More ->></a></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="fh5co-services-section">
  <div class="container">
    <div class="heading-section text-center">
      <h2>Activities in Srijan</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-push-1">
        <div class="fh5co-services-right">
          <div class="fh5co-table2 text-center">
            <div class="fh5co-table-cell2">
              <i class="icon-heart3"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>Water Play </h3>
            <p>Children can find water play both calming ,
              allowing them to unwind, order their thoughts and relax.
            </p>
          </div>
        </div>
        <div class="fh5co-services-right">
          <div class="fh5co-table2 fh5co-table2-color-2 text-center">
            <div class="fh5co-table-cell2">
              <i class="icon-laptop"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>Music and Dance</h3>
            <p>The school has regular singing classes so that the children learn to appreciate music. </p>
          </div>
        </div>
        <div class="fh5co-services-right">
          <div class="fh5co-table2 fh5co-table2-color-3 text-center">
            <div class="fh5co-table-cell2">
              <i class="icon-video"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>Sports</h3>
            <p>Schools offers a range of indoor and outdoor games. </p>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 col-md-push-3">
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-4 text-center">
            <div class="fh5co-table-cell2">
              <i class="icon-mobile"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>Functions and Celebrations</h3>
            <p>To develop a musical ear and appreciate music, the school has regular singing </p>
          </div>
        </div>
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-5 text-center">
            <div class="fh5co-table-cell2">
              <i class="icon-gears"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>Picnic & Shows </h3>
            <p>Children are taken for picnics, educational tours and outings. Puppet shows, magic shows </p>
          </div>
        </div>
        <div class="fh5co-services">
          <div class="fh5co-table2 fh5co-table2-color-6 text-center">
            <div class="fh5co-table-cell2">
              <i class="icon-piechart"></i>
            </div>
          </div>
          <div class="holder-section">
            <h3>Educational Tours</h3>
            <p>Children learn things by actually observing and understanding them.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fh5co-parallax" style="background-image: url(../../assets/images/slider1.jpg);box-shadow:0px 2px 5px 1px rgba(0, 0, 0, .6);" data-stellar-background-ratio="0.5">
    <div class="overlay" ></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <h1 class="text-center">A great place to grow.</h1>
            <p>Early development is fundamental to the growth of your child.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
